div.wicket-tree {
	white-space: nowrap;	
	border: 1px solid #ccc;
	width: 20em;
	overflow: auto;
	margin: 10px;
	line-height: 1.5em;
}

div.wicket-tree a {
	text-decoration: none;
	color: #3311aa;
	float: left;
}

div.wicket-tree div.row,
div.wicket-tree div.row-selected {
	height: 1.5em;		
}
	

div.wicket-tree span.junction,
div.wicket-tree span.junction-last,
div.wicket-tree span.plus,
div.wicket-tree span.minus,
div.wicket-tree span.corner,
div.wicket-tree span.indent-line,
div.wicket-tree span.icon {
	float: left;
	width: 18px;
	height: 1.5em;	
	min-height: 18px;
}

div.wicket-tree span.junction,
div.wicket-tree span.junction-last {
	_margin-left: 3px; /* ie 3px bug fix*/
	cursor: pointer;
}

div.wicket-tree span.junction {
	background-image: url("tree-images.png");	
	background-position: -36px 0px;
	background-repeat: repeat-y;	
}

div.wicket-tree span.junction-last {
	background-image: url("tree-images.png");	
	background-position: -72px 0px;
	background-repeat: no-repeat;
}

div.wicket-tree span.plus,
div.wicket-tree span.minus,
div.wicket-tree span.corner {
	background-repeat: no-repeat;
}

div.wicket-tree span.plus {
	background-image: url("tree-images.png");	
	background-position: 0px center;
}

div.wicket-tree span.minus {
	background-image: url("tree-images.png");	
	background-position: -18px center;
}

div.wicket-tree span.corner {
	background-image: url("tree-images.png");	
	background-position: -54px center;
}
div.wicket-tree span.indent {
	clear: left;
	float: left;
}

div.wicket-tree a:hover {
	text-decoration: underline;
}


div.wicket-tree span.icon {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	margin-left: 2px;
	position: relative;
	top: -1px;
}

div.wicket-tree a {
	-moz-outline: none;
}

div.wicket-tree span.indent-blank {
	width: 18px;
	height: 1em;
	float: left;	 
}

div.wicket-tree span.indent-line {
	_margin-left: 3px;	/* ie 3px bug fix*/
	overflow: hidden;
	background-image: url("tree-images.png");	
	background-position: -36px 0px;
	background-repeat: repeat-y;
}

div.wicket-tree div.row,
div.wicket-tree div.row-selected {
	overflow: hidden;
	padding-left: 1em;	
	clear: both;
}

div.wicket-tree div.row-selected {
	background-color: #E0E8FF;
	font-weight: bold;	
}
