#wicketDebugBar {
	display: block;
	height: 24px;
	position: absolute;
	right: 0;
	top: 0;
	background-color: #DDDDDD;
	opacity: 0.8;
	padding: 0px 10px 0px 5px;
}
#wicketDebugBar img {
	margin: 4px 10px -3px 0px;
	height: 16px;
	width: 16px;
	border: none;
}
#wicketDebugBarRemove img {
	margin-left: 10px;
	margin-right: 0px;
}
#wicketDebugBar .contributor a {
	margin-right: 10px;
}