<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
	  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
	  "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<display-name>Wicket Thread Test</display-name>
	
	<distributable />

<!--  
      There are three means to configure Wickets configuration mode and they are
      tested in the order given. 
      1) A system property: -Dwicket.configuration
      2) servlet specific <init-param>
      3) context specific <context-param>
      The value might be either "development" (reloading when templates change)
      or "deployment". If no configuration is found, "deployment" is the default.
-->
	<context-param>
	  <param-name>configuration</param-name>
	  <param-value>deployment</param-value>
	</context-param>
	
    <filter>
        <filter-name>app2filter</filter-name>
        <filter-class>wicket.threadtest.apps.app2.TestFilter</filter-class>
    </filter>

	<filter>
		<filter-name>TestApp1</filter-name>
		<filter-class>wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.threadtest.apps.app1.TestApp1</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>TestApp2</filter-name>
		<filter-class>wicket.protocol.http.WicketFilter</filter-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.threadtest.apps.app2.TestApp2</param-value>
		</init-param>
	</filter>

    <filter-mapping>
        <filter-name>app2filter</filter-name>
        <url-pattern>/app2/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>TestApp1</filter-name>
        <url-pattern>/app1/*</url-pattern>
    </filter-mapping>
 
    <filter-mapping>
        <filter-name>TestApp2</filter-name>
        <url-pattern>/app2/*</url-pattern>
    </filter-mapping>

	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>
	
	<welcome-file-list>
	<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>
