<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<head>
    <title>Template example, page 2</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="stylesheet" type="text/css" href="template/style.css"/>
</head>
<body>

	<wicket:extend>

	<span wicket:id="border">

Lorem ipsum dolor sit amet, consectetuer
adipiscing elit. Cras eros lorem, varius ac, malesuada eget, luctus
quis, nibh. Donec commodo, magna et facilisis posuere, massa enim
egestas quam, non egestas sem elit ut eros. Nullam porttitor, elit id
placerat rutrum, metus leo ultrices sapien, in auctor mi elit et lectus.
Vestibulum commodo elementum lacus. Donec felis odio, bibendum et,
convallis et, ullamcorper nec, dolor. Suspendisse potenti. Sed tellus.
In egestas. Nulla sem massa, placerat malesuada, feugiat blandit, luctus
a, mauris. Sed sit amet elit. Mauris a leo. Maecenas hendrerit tincidunt
risus. Suspendisse odio purus, sagittis et, placerat vel, bibendum eu,
sem. Nam rutrum elit nec libero. Curabitur elit felis, lacinia nec,
porttitor at, bibendum at, wisi. Praesent vestibulum molestie dui. Cras
porttitor urna nec sem. Pellentesque sed magna at purus fringilla
laoreet. Donec lorem. Donec luctus pede at justo. Ut auctor pede at
lorem. Praesent ornare neque a mauris. Morbi vestibulum. Aliquam erat
volutpat. Cras eros. Donec eget lorem. Duis scelerisque metus nec
ligula. In massa sapien, laoreet sit amet, ullamcorper et, auctor in,
pede. Phasellus est mauris, pulvinar viverra, iaculis id, elementum in,
justo. Nullam mollis ligula eget sem. Praesent at urna. Maecenas leo
neque, fermentum accumsan, tincidunt at, suscipit eu, wisi.
	
	</span><!-- end of border -->

</wicket:extend>
</body>
</html>
