<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<head>
    <title wicket:id="title">title comes here</title>
    <link rel="stylesheet" type="text/css" href="template/style.css"/>
</head>
<body>

	<wicket:extend>
    <h2 wicket:id="title"></h2>
	<span wicket:id="border">

Lorem ipsum dolor sit amet, consectetuer
adipiscing elit. Donec sed velit sit amet arcu commodo aliquet. Nunc
consectetuer. Donec sollicitudin congue justo. Etiam wisi nisl, vehicula
eget, mattis quis, imperdiet quis, lorem. Sed mattis, massa vitae
laoreet imperdiet, ligula mauris convallis orci, eu blandit ante lorem
nec mi. Nullam ac neque. Nunc pulvinar urna vel urna. Integer auctor
ligula ut wisi. Sed pretium metus et nunc. Etiam eu nibh. Nulla
facilisis aliquam risus. Nunc a leo. Ut lorem wisi, molestie nec,
adipiscing nec, euismod at, est. Nunc posuere interdum ipsum. Donec eu
odio. Maecenas imperdiet. Pellentesque habitant morbi tristique senectus
et netus et malesuada fames ac turpis egestas. Maecenas vehicula tellus
pulvinar elit. Cras dictum justo. Suspendisse aliquet tortor eget quam.
Nam ut ipsum nec diam mollis accumsan. Suspendisse ut leo eget velit
gravida eleifend. Lorem ipsum dolor sit amet, consectetuer adipiscing
elit. Maecenas lacinia aliquet augue.

<p>
 <span>contents here</span>
</p>
	
	</span><!-- end of border -->

</wicket:extend>
</body>
</html>
