<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<head>
    <title wicket:id="title">title comes here</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
    <link rel="stylesheet" type="text/css" href="template/style.css"/>
</head>
<body>
    <wicket:extend>

	<div id="header" class="borderedBlock">
	 <table width="100%">
	  <tr>
	   <td id="ad">
		 <span wicket:id="ad">ad comes here</span>
	   </td>
	   <td id="changeAddButton">
		 <input type="button" wicket:id="changeAdLink" value="change ad" />
	   </td>
	  </tr>
	 </table>
	</div>

	<table width="100%">

	  <tr>
	    <td id="left" class="borderedBlock">
		 <ul>
		  <li><a href="#" wicket:id="page1Link">Page 1</a></li>
		  <li><a href="#" wicket:id="page2Link">Page 2</a></li>
		 </ul>
		</td>
		<td id="content" class="borderedBlock">
			<wicket:child />
		</td>
	  </tr>

	</table>

	<div id="footer" class="borderedBlock">
	 footer
	</div>

</wicket:extend>
</body>
</html>
