<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!--
		setup contact dao
	-->
	<bean id="contactDao" class="wicket.spring.common.ContactDaoImpl"/>
	
	<!-- setup wicket application -->
	<bean id="wicketApplication" class="wicket.spring.common.web.AnnotApplication"/>
	
</beans>
