#typeSelect {
	margin-bottom: 2em;	
}

#tree {
	width: 1px;
}

#tree ul {
	margin: 0;
	padding: 0;
}

#tree li {
	list-style-type: none;
	list-style-position: outside;
	background-image: none;
	background-repeat: no-repeat;
	background-position: 0 0.2em;
	padding-left: 24px;
	line-height: 18px;
	cursor: pointer;
}

#tree ul ul {
	margin-left: 20px;
}

#tree ul ul li {
	padding-left: 20px;
}

#tree #link {
	background-color: white;
}

#tree #label {
	background-color: white;
}

#tree .tree-leaf-end {

}

#tree .tree-junction-expanded-siblings {
	background-image: url('minus.gif');
}

#tree .tree-junction-closed-siblings {
	background-image: url('plus.gif');
}

#tree .tree-junction-expanded-end {
	background-image: url('minus.gif');
}

#tree .tree-junction-closed-end {
	background-image: url('plus.gif');
}

#spacers {
	padding-left: 16px;
}