#typeSelect {
	margin-bottom: 2em;	
}

.customtree {
	width: 1px;
}

.customtree ul {
	margin: 0;
	padding: 0;
}

.customtree li {
	list-style-type: none;
	list-style-position: outside;
	background-image: none;
	background-repeat: no-repeat;
	background-position: 0 0.2em;
	padding-left: 24px;
	line-height: 18px;
	cursor: pointer;
}

.customtree ul ul {
	margin-left: 20px;
}

.customtree ul ul li {
	padding-left: 20px;
}

.customtree #link {
	background-color: white;
}

.customtree #label {
	background-color: white;
}

.customtree .tree-leaf-end {

}

.customtree .tree-junction-expanded-siblings {
	background-image: url('minus.gif');
}

.customtree .tree-junction-closed-siblings {
	background-image: url('plus.gif');
}

.customtree .tree-junction-expanded-end {
	background-image: url('minus.gif');
}

.customtree .tree-junction-closed-end {
	background-image: url('plus.gif');
}

#spacers {
	padding-left: 16px;
}

#junctionImg {
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 0px;
	padding-bottom: 0px;
}