body {
	background-color: white;
	background-image: url('wicket-logo.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 96% 96%;
	color: #6F6F6F;
	font-family: 'Lucida Sans', 'Helvetica', 'Sans-serif', 'sans';
	font-size: 9pt;
	line-height: 1.8em;
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
}

h1,h2,h3,h4,h5,h6,h7,h8 {
	color: #E9601A;
}

#extitle, #wicket-extitle {
	font-size: 12pt;
	font-weight: bold;
	color: #E9601A;
	padding: 10px 10px 10px 10px;
}

.feedbackPanelERROR {
	color: red;
	list-style: circle;
	font-weight: bold;
}

.feedbackPanelINFO {
	color: green;
	list-style: circle;
	font-weight: bold;
}

#hellomessage {
	font-size: 30pt;
}

#titleblock {
	background: #DEDEDE;
	color: white;
	font-weight: bold;
	border-bottom: solid #E9601A;
	border-width: thin;
}

h2 {
	font-size: 1.25em;
}

h3 {
	font-size: 1em;
}

a {
	color: #6F6F6F;
}

img {
	border: none;
}

pre {
	font-family: 'Lucida Sans', 'Helvetica', 'Sans serif', 'sans';
}

th {
	background: #C3C3C3;
	color: white;
	font-weight: bold;
}

th,td {
	padding-left: 5px;
	padding-right: 5px;
}

tr.b {
	background: #F5F5F5;
}

tr.a {
	background: #E6E6E5;
}

tr.none {
	background: transparent;
}

a.none {
	background: transparent;
	padding-right: 0px;
}

#wicket-inputForm {
	width: 300px;
}

#wicket-inputForm label {
	display: block;
	padding: 3px 0 0;
}

#wicket-inputForm label.non {
	display: inline !important;
}