div.wicket-tree-table {
	white-space: nowrap;	
	border: 1px solid #ccc;
	overflow: auto;
	margin: 10px;
}

div.wicket-tree-table a {
	text-decoration: none;
	color: #3311aa;
	float: left;
}

div.wicket-tree-table span.junction,
div.wicket-tree-table span.junction-last,
div.wicket-tree-table span.plus,
div.wicket-tree-table span.minus,
div.wicket-tree-table span.corner,
div.wicket-tree-table span.indent-line {
	float: left;
	width: 18px;
	height: 1.5em;	
	min-height: 18px;
}

div.wicket-tree-table span.junction,
div.wicket-tree-table span.junction-last {
	_margin-left: 3px; /* ie 3px bug fix*/
	cursor: pointer;
}

div.wicket-tree-table span.junction {
	background-image: url("line.gif");
	background-repeat: repeat-y;
}

div.wicket-tree-table span.junction-last {
	background-image: url("line-short.gif"); 
	background-repeat: no-repeat;
}

div.wicket-tree-table span.plus,
div.wicket-tree-table span.minus,
div.wicket-tree-table span.corner {
	background-repeat: no-repeat;
	background-position: center;
}

div.wicket-tree-table span.plus {
	background-image: url("plus.png");	
}

div.wicket-tree-table span.minus {
	background-image: url("minus.png");
}

div.wicket-tree-table span.corner {
	background-image: url("line-corner.gif");	
}
div.wicket-tree-table span.indent {
	clear: left;
	float: left;
}

div.wicket-tree-table a:hover {
	text-decoration: underline;
}

div.wicket-tree-table img {
	border-width: 0px;
	float: left;
	margin-left: 2px;
	margin-right: 2px;
	width: 18px; height: 18px;
}

div.wicket-tree-table a {
	-moz-outline: none;
}

div.wicket-tree-table span.indent-blank {
	width: 18px;
	height: 1em;
	float: left;	 
}

div.wicket-tree-table span.indent-line {
	_margin-left: 3px;	/* ie 3px bug fix*/
	overflow: hidden;
	background-image: url("line.gif");
	background-repeat: repeat-y;
}

div.wicket-tree-table div.row,
div.wicket-tree-table div.row-selected {
	overflow: hidden;
	_width: 100%; /* ie float container height bug */
	padding-left: 1em;	
}

div.wicket-tree-table div.row-selected {
	background-color: #E0E8FF;
	font-weight: bold;
}

div.wicket-tree-table span.text {
	position: relative;
	top: 0.07em;
	display: block;
}

div.wicket-tree-table {
	width: 95%;
	overflow: auto;
}

div.wicket-tree-table div.row,
div.wicket-tree-table div.row-selected {
	padding-left: 0px;
}


div.wicket-tree-table div.row,
div.wicket-tree-table div.row-selected,
div.wicket-tree-table div.columns,	
div.wicket-tree-table span.column,
div.wicket-tree-table span.column span.column-inner {
	overflow: hidden;
	width: auto;
	height: 1.5em;	
	min-height: 18px;
}

div.wicket-tree-table div.row,
div.wicket-tree-table div.row span.column  /*, 
div.wicket-tree-table div.row-selected,
div.wicket-tree-table div.row-selected span.column */ {
	background-image: url("dotted-line.png");
	background-repeat: repeat-x;
	background-position: bottom;
}

div.wicket-tree-table div.row,
div.wicket-tree-table div.row-selected {
	/* explorer line-hiding fix */
	_background-position: 0em 1.44em;
}

div.wicket-tree-table span.col-tree {
	float: left; 
}

div.wicket-tree-table span.column {
	float: left;
}

div.wicket-tree-table span.column span.column-inner {
	border-left: 1px solid #ddd;	
	padding: 0em 0.5em;
	margin-left: 0.5em;
	display: block;
}

div.wicket-tree-table span.column span.column-inner-first {
	padding: 0em 0.5em;
	margin-left: 0.5em;
	display: block;
}


div.wicket-tree-table div.row-selected span.column {
	font-weight: normal;
}

div.wicket-tree-table div.header {
	border-bottom: 1px solid #ddd;
	height: 1.5em;
	overflow: hidden;
	margin-bottom: 0.1em;
	font-weight: bold;
	background-color: #eee;
}

div.wicket-tree-table div.header span.text {
	position: relative;
	top: 0.15em;
}