;(function(undefined) {
	'use strict';

	if (!Wicket.WebSocket.pageId) {
		jQuery.extend(Wicket.WebSocket, { pageId: ${pageId}, baseUrl: '${baseUrl}', contextPath: '${contextPath}' });
		Wicket.WebSocket.createDefaultConnection();
	}
})();
