body {
	font-family: verdana, tahoma, arial, serif;
	font-size: 1em;
}

a { color: blue; }

table.grid {
	margin-bottom: 10px;
	border-bottom: 1px solid #0079d6;
	font-size: 1em;
	font-family: arial;
	width: 100%;
	}
	
 
table.grid tr { padding-top: 2px; padding-bottom: 2px; }
table.grid tr.odd { background-color: #ffebcd; }
table.grid tr.even { background-color: #fff; }
table.grid tr td { padding-left: 8px; padding-right: 30px; }


/* NAVIGATION */
table.grid tr.navigation { text-align: left; font-size: 0.8em;}
table.grid tr.navigation td { padding-right: 0px;}


/* HEADERS */
table.grid tr th { font-weight: normal; padding-top: 3px; padding-bottom: 3px; padding-left: 8px; padding-right: 24px; background-color: #c1e4ff; border-bottom: 1px solid #0079d6; border-top: 1px solid #0079d6; text-align: left; white-space: nowrap; vertical-align: middle;}
table.grid tr th a { padding-right: 15px; background-position: right; background-repeat:no-repeat; }
table.grid tr th.wicket_orderDown a { color:black; background-image: url(images/arrow_down.png); }
table.grid tr th.wicket_orderUp a { color: black; background-image: url(images/arrow_up.png); }
table.grid tr th.wicket_orderNone a {
	background-image: url(images/arrow_off.png);
}
table.grid tr th a { font-weight: normal; }


/* FILTERS */
table.grid td.filter-td { font-size: 1em; background-color: #c1e4ff; border-bottom: 1px solid #0079d6; }
table.grid td.filter-td input.go { width: 45%; }
table.grid td.filter-td input.clear { width: 45%; }
table.grid td.filter-td input { width: 100%; font-size: 0.6em; }
table.grid td.filter-td select { width: 100%; font-size: 0.6em; }
