/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
 
table.palette {
	border: 0;
}

table.palette td.header {
	text-align: center;
	font-weight: bold;
	font-size: 9pt;
	background-color: #eef7ff;
	padding: 2px;
	border-top: 1px solid #729ac2;
	border-bottom: 1px solid #729ac2;
}

table.palette td.pane {
	width: 100px;
	text-align: center;
}

table.palette td.pane select {
	width: 200px;
}

table.palette td.buttons { 
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}

table.palette td.buttons button {
	width: 40px;
	height: 40px;
}

button.button.add div {
	height: 15px;
	width: 15px;
}
button.button.add div:after {
	content: '\21D2';
}

button.button.remove div {
	height: 15px;
	width: 15px;
}
button.button.remove div:after {
	content: '\21D0';
}

button.button.up div {
	height: 15px;
	width: 15px;
}
button.button.up div:after {
	content: '\21D1';
}

button.button.down div {
	height: 15px;
	width: 15px;
}
button.button.down div:after {
	content: '\21D3';
}

button.button.addAll div {
	height: 15px;
	width: 15px;
}

button.button.addAll div:after {
	content: '\21DB';
}

button.button.removeAll div {
	height: 15px;
	width: 15px;
}
button.button.removeAll div:after {
	content: '\21DA';
}
