;(function(undefined) {
	'use strict';

	if (typeof(Wicket.WebSocket.appName) === "undefined") {
		jQuery.extend(Wicket.WebSocket, { pageId: ${pageId}, resourceName: '${resourceName}',
			baseUrl: '${baseUrl}', contextPath: '${contextPath}', appName: '${applicationName}',
			filterPrefix: '${filterPrefix}' });
		Wicket.WebSocket.createDefaultConnection();
	}
})();
