;(function(undefined) {
	'use strict';

	if (!Wicket.WebSocket.key) {
		jQuery.extend(Wicket.WebSocket, { pageId: ${pageId}, resourceName: '${resourceName}',
			baseUrl: '${baseUrl}', contextPath: '${contextPath}', appName: '${applicationName}' });
		Wicket.WebSocket.createDefaultConnection();
	}
})();
