<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
      PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
      "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<display-name>Wicket Sandbox</display-name>

    <filter>
      <filter-name>WicketSessionFilter</filter-name>
      <filter-class>wicket.protocol.http.servlet.WicketSessionFilter</filter-class>
      <init-param>
        <param-name>servletPath</param-name>
        <param-value>sessiontest</param-value>
      </init-param>
    </filter>

    <filter-mapping>
        <filter-name>WicketSessionFilter</filter-name>
        <url-pattern>/servlet/sessiontest</url-pattern>
    </filter-mapping>

	<servlet>
		<servlet-name>SessionApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>session.SessionApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>SimpleAppletApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>examples.applet.simple.SimpleAppletApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>SprocketsApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>examples.applet.sprockets.SprocketsApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>WicketSessionServlet</servlet-name>
		<servlet-class>session.WicketSessionServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>SimpleAppletApplication</servlet-name>
		<url-pattern>/simple/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>SprocketsApplication</servlet-name>
		<url-pattern>/sprockets/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>SessionApplication</servlet-name>
		<url-pattern>/sessiontest/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>WicketSessionServlet</servlet-name>
		<url-pattern>/servlet/sessiontest</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>
