<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
	  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
	  "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<display-name>Wicket Examples</display-name>
	
	<distributable />

	<!-- only available with servlet spec. 2.4 
	<locale-encoding-mapping-list>
		<locale-encoding-mapping>
			<locale>de</locale>
			<encoding>UTF-8</encoding>
		</locale-encoding-mapping>
	</locale-encoding-mapping-list>
	-->	  
  
<!--  
      There are three means to configure Wickets configuration mode and they are
      tested in the order given. 
      1) A system property: -Dwicket.configuration
      2) servlet specific <init-param>
      3) context specific <context-param>
      The value might be either "development" (reloading when templates change)
      or "deployment". If no configuration is found, "deployment" is the default.
-->
	<context-param>
	  <param-name>configuration</param-name>
	  <param-value>development</param-value>
	</context-param>

	<servlet>
		<servlet-name>AjaxPrototypeApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.ajax.prototype.PrototypeApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>AjaxApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>wicket.examples.ajax.builtin.AjaxApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>HelloWorldApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.helloworld.HelloWorldApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>EchoApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.echo.EchoApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>UnicodeConverterApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.unicodeconverter.UnicodeConverterApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>HelloBrowserApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.hellobrowser.HelloBrowserApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

    <servlet>
        <servlet-name>StockQuoteApplication</servlet-name>
        <servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
        <init-param>
            <param-name>applicationClassName</param-name>
            <param-value>wicket.examples.stockquote.StockQuoteApplication</param-value>
        </init-param>
    </servlet>
    
	<servlet>
		<servlet-name>HangmanApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.hangman.HangmanApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>FormInputApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.forminput.FormInputApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>NestedApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.nested.NestedApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>GuestBookApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.guestbook.GuestBookApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>ImagesApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.images.ImagesApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>LibraryApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.library.LibraryApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>LinkomaticApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.linkomatic.LinkomaticApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>NavomaticApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.navomatic.NavomaticApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>PubApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.pub.PubApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>SignInApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.signin.SignInApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>SignIn2Application</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.signin2.SignIn2Application</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>UploadApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.upload.UploadApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>DisplaytagApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.displaytag.DisplaytagApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>EncodingsApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.encodings.EncodingsApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>TemplateApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.template.TemplateApplication</param-value>
		</init-param>
		<init-param>
		  <param-name>configuration</param-name>
		  <param-value>development</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>ComponentReferenceApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.compref.ComponentReferenceApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>RepeaterExamplesApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
			<param-name>applicationClassName</param-name>
			<param-value>wicket.examples.repeater.RepeaterApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>NiceUrlApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.niceurl.NiceUrlApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>FramesApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.frames.FramesApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
		<servlet-name>CustomResourceLoadingApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.customresourceloading.CustomResourceLoadingApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>WizardApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.wizard.WizardApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>BreadCrumbApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.breadcrumb.BreadCrumbApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>CaptchaApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.captcha.CaptchaApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>StatelessApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.stateless.StatelessApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AjaxApplication</servlet-name>
		<url-pattern>/ajax/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>AjaxPrototypeApplication</servlet-name>
		<url-pattern>/prototype/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>RepeaterExamplesApplication</servlet-name>
		<url-pattern>/repeater/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>NiceUrlApplication</servlet-name>
		<url-pattern>/niceurl/*</url-pattern>
	</servlet-mapping>	

	<servlet-mapping>
		<servlet-name>SignInApplication</servlet-name>
		<url-pattern>/signin/*</url-pattern>
	</servlet-mapping>

    <servlet-mapping>
        <servlet-name>StockQuoteApplication</servlet-name>
        <url-pattern>/stock/*</url-pattern>
    </servlet-mapping>
    
	<servlet-mapping>
		<servlet-name>SignIn2Application</servlet-name>
		<url-pattern>/signin2/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>HangmanApplication</servlet-name>
		<url-pattern>/hangman/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>NestedApplication</servlet-name>
		<url-pattern>/nested/*</url-pattern>
	</servlet-mapping>
	 
	<servlet-mapping>
		<servlet-name>PubApplication</servlet-name>
		<url-pattern>/pub/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>NavomaticApplication</servlet-name>
		<url-pattern>/navomatic/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>LinkomaticApplication</servlet-name>
		<url-pattern>/linkomatic/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>LibraryApplication</servlet-name>
		<url-pattern>/library/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ImagesApplication</servlet-name>
		<url-pattern>/images/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>HelloWorldApplication</servlet-name>
		<url-pattern>/helloworld/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>EchoApplication</servlet-name>
		<url-pattern>/echo/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>UnicodeConverterApplication</servlet-name>
		<url-pattern>/unicodeconverter/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>HelloBrowserApplication</servlet-name>
		<url-pattern>/hellobrowser/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>FormInputApplication</servlet-name>
		<url-pattern>/forminput/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>GuestBookApplication</servlet-name>
		<url-pattern>/guestbook/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>UploadApplication</servlet-name>
		<url-pattern>/upload/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DisplaytagApplication</servlet-name>
		<url-pattern>/displaytag/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>EncodingsApplication</servlet-name>
		<url-pattern>/encodings/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>TemplateApplication</servlet-name>
		<url-pattern>/template/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ComponentReferenceApplication</servlet-name>
		<url-pattern>/compref/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>FramesApplication</servlet-name>
		<url-pattern>/frames/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>CustomResourceLoadingApplication</servlet-name>
		<url-pattern>/customresourceloading/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>WizardApplication</servlet-name>
		<url-pattern>/wizard/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>BreadCrumbApplication</servlet-name>
		<url-pattern>/breadcrumb/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>CaptchaApplication</servlet-name>
		<url-pattern>/captcha/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>StatelessApplication</servlet-name>
		<url-pattern>/stateless/*</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>
	
	<welcome-file-list>
	<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>
