.wicket-navmenu-tabs {
	background: #EEE;
	color: #000;
	font: normal 11px Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin: 20px 0 0 0;
	padding: 0;
	width: 100%
}

.wicket-navmenu-tabs-level0 {
	border-bottom: 1px solid #C60;
}

\html .wicket-navmenu-tabs-level0/* */ {
	margin: 0;
	padding: 3px 0 3px 20px
}

html>body .wicket-navmenu-tabs-level0 {
	margin: 0;
	padding: 0 0 1px 20px
}

\head+body .wicket-navmenu-tabs-level0 {
	padding: 0 0 3px 20px
}

html>body ul[id] .wicket-navmenu-tabs-level0 {
	padding: 0 0 0 20px
}

.wicket-navmenu-tabs-level0 .preloadUnselected {
	background: transparent url(folders/unselected.gif);
}

.wicket-navmenu-tabs-level0 .preloadSelected {
	background: transparent url(folders/selected.gif);
}

.wicket-navmenu-tabs-level0 .preloadHover {
	background: transparent url(folders/hover.gif);
}

.wicket-navmenu-tabs-level0 .preloadActive {
	background: transparent url(folders/active.gif);
}

html>body .wicket-navmenu-tabs-level0 li {
	background: transparent url(folders/unselected.gif) no-repeat top left;
	border-right: 1px solid #666;
	display: block;
	float: left;
	height: 1em;
	margin: 3px 5px 3px -15px;
	padding: 3px 5px 5px 27px
}

head:first-child+body .wicket-navmenu-tabs-level0 li {
	background: none;
	border-right: none;
	display: inline;
	float: none;
	margin: 0;
	padding: 0
}

.wicket-navmenu-tabs-level0 a, .wicket-navmenu-tabs-level0 a:link, .wicket-navmenu-tabs-level0 a:visited {
	background: transparent url(folders/unselected.gif) no-repeat top left;
	border-right: 1px solid #666;
	color: #FFF;
	display: inline;
	height: 1em;
	margin: 0 0 0 -15px;
	padding: 3px 5px 3px 27px;
	text-decoration: none
}

html>body .wicket-navmenu-tabs-level0 a, html>body .wicket-navmenu-tabs-level0 a:link, html>body .wicket-navmenu-tabs-level0 a:visited {
	border-right: none;
	margin: 0;
	padding: 0
}

head:first-child+body .wicket-navmenu-tabs-level0 a, head:first-child+body .wicket-navmenu-tabs-level0 a:link, head:first-child+body .wicket-navmenu-tabs-level0 a:visited {
	border-right: 1px solid #666;
	margin: 0 0 0 -15px;
	padding: 3px 5px 3px 27px;
	position: relative;
	z-index: 50
}

.wicket-navmenu-tabs-level0 a:hover {
	background: transparent url(folders/hover.gif) no-repeat top left;
	border-right: 1px solid #333;
	color: #FFF;
	text-decoration: none
}

html>body .wicket-navmenu-tabs-level0 a:hover {
	border-right: none;
	text-decoration: underline
}

head:first-child+body .wicket-navmenu-tabs-level0 a:hover {
	border-right: 1px solid #333;
	padding: 4px 5px 3px 27px;
	position: relative;
	text-decoration: none;
	z-index: 5000
}

.wicket-navmenu-tabs-level0 a:active {
	background: transparent url(folders/active.gif) no-repeat top left;
	color: #FFF;
	text-decoration: none
}

html>body .wicket-navmenu-tabs-level0 a:active {
	text-decoration: underline
}

head:first-child+body .wicket-navmenu-tabs-level0 a:active {
	text-decoration: none
}

html>body .wicket-navmenu-tabs-level0 li.selectedTab {
	background: transparent url(folders/selected.gif) no-repeat top left;
	border-right: 1px solid #C60;
	display: block;
	float: left;
	height: 1em;
	margin: 3px 5px 5px -15px;
	padding: 3px 5px 5px 27px
}

head:first-child+body .wicket-navmenu-tabs-level0 li.selectedTab {
	background: none;
	border-right: none;
	display: inline;
	float: none;
	margin: 0;
	padding: 0
}

.wicket-navmenu-tabs-level0 .selectedTab a, .wicket-navmenu-tabs-level0 .selectedTab a:link, .wicket-navmenu-tabs-level0 .selectedTab a:visited {
	background: transparent url(folders/selected.gif) no-repeat top left;
	border-right: 1px solid #C60;
	color: #FFF;
	cursor: text;
	display: inline;
	height: 1em;
	margin: 0 0 0 -15px;
	padding: 3px 5px 3px 27px
}

html>body .wicket-navmenu-tabs-level0 .selectedTab a, html>body .wicket-navmenu-tabs-level0 .selectedTab a:link, html>body .wicket-navmenu-tabs-level0 .selectedTab a:visited {
	border-right: none;
	margin: 0;
	padding: 0
}

head:first-child+body .wicket-navmenu-tabs-level0 .selectedTab a, head:first-child+body .wicket-navmenu-tabs-level0 .selectedTab a:link, head:first-child+body .wicket-navmenu-tabs-level0 .selectedTab a:visited, head:first-child+body .wicket-navmenu-tabs-level0 .selectedTab a:hover {
	background: transparent url(folders/selected.gif) no-repeat top left;
	border-right: 1px solid #C60;
	margin: 0 0 0 -15px;
	padding: 3px 5px 3px 27px;
	position: relative;
	z-index: 10000
}

\html head:first-child+body .wicket-navmenu-tabs-level0 .selectedTab a, \html head:first-child+body .wicket-navmenu-tabs-level0 .selectedTab a:link, \html head:first-child+body .wicket-navmenu-tabs-level0 .selectedTab a:visited, \html head:first-child+body .wicket-navmenu-tabs-level0 .selectedTab a:hover {
	padding: 4px 5px 5px 27px
}

.fixTabsIE {
	visibility: hidden
}

.wicket-navmenu-tabs-level1-border {
	background: #F90;
	border-top: 1px solid #FC3;
	height: 20px;
	margin: 0px;	
}

.wicket-navmenu-tabs-level1 li {
	list-style: none outside none;
	display: inline;
	margin: 0px;
}