div.wicket-tree {
	white-space: nowrap;	
	border: 1px solid #ccc;
	width: 20em;
	overflow: auto;
	margin: 10px;
}

div.wicket-tree a {
	text-decoration: none;
	color: #3311aa;
	float: left;
}

div.wicket-tree span.junction,
div.wicket-tree span.junction-last,
div.wicket-tree span.plus,
div.wicket-tree span.minus,
div.wicket-tree span.corner {
	float: left;
	width: 18px;
	height: 1.4em;	
	min-height: 18px;
}

div.wicket-tree span.junction,
div.wicket-tree span.junction-last {
	_margin-left: 3px; /* ie 3px bug fix*/
}

div.wicket-tree span.junction {
	background-image: url("line.gif");
	background-repeat: repeat-y;
}

div.wicket-tree span.junction-last {
	background-image: url("line-short.gif"); 
	background-repeat: no-repeat;
}

div.wicket-tree span.plus,
div.wicket-tree span.minus,
div.wicket-tree span.corner {
	background-repeat: no-repeat;
	background-position: center;
}

div.wicket-tree span.plus {
	background-image: url("plus.png");	
}

div.wicket-tree span.minus {
	background-image: url("minus.png");
}

div.wicket-tree span.corner {
	background-image: url("line-corner.gif");	
}
div.wicket-tree span.indent {
	clear: left;
	float: left;
}

div.wicket-tree a:hover {
	text-decoration: underline;
}

div.wicket-tree img {
	border-width: 0px;
	float: left;
	margin-left: 2px;
	margin-right: 2px;
	width: 18px; height: 18px;
}

div.wicket-tree a {
	-moz-outline: none;
}

div.wicket-tree span.indent-blank {
	width: 18px;
	height: 1em;
	float: left;	 
}

div.wicket-tree span.indent-line {
	width: 18px;
	height: 1.4em;
	min-height: 18px;
	_margin-left: 3px;	/* ie 3px bug fix*/
	overflow: hidden;
	float: left; 
	background-image: url("line.gif");
	background-repeat: repeat-y;
}

div.wicket-tree div.row,
div.wicket-tree div.row-selected {
	overflow: hidden;
	_width: 100%; /* ie float container height bug */
	padding-left: 1em;
}

div.wicket-tree div.row-selected {
	background-color: #eeeeff;
	font-weight: bold;
}