div.wicket-tree {
	white-space: nowrap;	
	border: 1px solid #ccc;
	width: 20em;
	overflow: auto;
	margin: 0.5em;
}

div.wicket-tree img {
	border-width: 0px;
}

div.wicket-tree img.junction {
	width: 11px;
	height: 11px;
	margin-top: 0.2em;
}

div.wicket-tree a {
	text-decoration: none;
	color: #3311aa;
}

div.wicket-tree a:hover {
	text-decoration: underline;
}

div.wicket-tree div.row {
	background-color: #eeeeee;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	padding-left: 1em;
}

div.wicket-tree div.row:hover {
	background-color: #ddd;
	border-top-color: #ddd;
	border-left-color: #ddd;	
}

div.wicket-tree div.row-selected {
	padding-left: 1em;
	border-left: 1px solid #FFEEBC;	
	border-top: 1px solid #FFEEBC;
	background-color: #FFE598;
	border-bottom: 1px solid #FFD65C;	
}

div.wicket-tree div.row-selected:hover {
	background-color: #FFDF80;
}