<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<!--
  - DispatcherServlet application context for the SpringApplication web tier.
	-->
<beans>
	
	<!--
	 - Explicit URL handler mapping instead of default BeanNameUrlHandlerMapping.
	 -->
	<bean id="urlMapping" class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<!-- property name="interceptors">
			<list>
				<ref local="localeChangeInterceptor"/>
				<ref local="themeChangeInterceptor"/>
				<ref local="copyInterceptor"/>
			</list>
		</property -->
		<property name="mappings">
			<props>
				<prop key="/**">wicketController</prop>
			</props>
		</property>
	</bean>

	<bean id="wicketController" class="wicket.contrib.utils.spring.SpringApplicationController">
		<property name="application"><ref local="wicketApplication"/></property>
	</bean>
	
	<bean id="wicketApplication" class="wicket.examples.springframework.SpringExampleApplication">
		<property name="settings"><ref local="wicketSettings"/></property>
	</bean>

	<bean id="wicketSettings" class="wicket.ApplicationSettings">
		<constructor-arg><ref local="wicketApplication"/></constructor-arg>
		<!-- property name="ResourcePollFrequency">com.voicetribe.util.time.Duration.ONE_SECOND</property -->
  </bean>
</beans>

