<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
	  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
	  "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<display-name>Wicket Examples</display-name>
	
	<!-- only available with servlet spec. 2.4 
	<locale-encoding-mapping-list>
		<locale-encoding-mapping>
			<locale>de</locale>
			<encoding>UTF-8</encoding>
		</locale-encoding-mapping>
	</locale-encoding-mapping-list>
	-->	  
  
<!--  With wicket examples this is the means to configure deployment
      resp. a development configuration.  
      Comment the following lines for "development" (reloading when templates change) 
-->

		<!-- context-param>
		  <param-name>deployment</param-name>
		  <param-value>true</param-value>
		</context-param-->

	<servlet>
		<servlet-name>HelloWorldApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.helloworld.HelloWorldApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>HangmanApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.hangman.HangmanApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>FormInputApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.forminput.FormInputApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>NestedApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.nested.NestedApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>GuestBookApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.guestbook.GuestBookApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>ImagesApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.images.ImagesApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>LibraryApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.library.LibraryApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>LinkomaticApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.linkomatic.LinkomaticApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>NavomaticApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.navomatic.NavomaticApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>PubApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.pub.PubApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>SignInApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.signin.SignInApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>SignIn2Application</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.signin2.SignIn2Application</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>UploadApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.upload.UploadApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>DisplaytagApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.displaytag.DisplaytagApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>EncodingsApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.encodings.EncodingsApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>TemplateApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.template.TemplateApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>ComponentReferenceApplication</servlet-name>
		<servlet-class>wicket.protocol.http.WicketServlet</servlet-class>
		<init-param>
		  <param-name>applicationClassName</param-name>
		  <param-value>wicket.examples.compref.ComponentReferenceApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>SignInApplication</servlet-name>
		<url-pattern>/signin/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>SignIn2Application</servlet-name>
		<url-pattern>/signin2/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>HangmanApplication</servlet-name>
		<url-pattern>/hangman/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>NestedApplication</servlet-name>
		<url-pattern>/nested/*</url-pattern>
	</servlet-mapping>
	 
	<servlet-mapping>
		<servlet-name>PubApplication</servlet-name>
		<url-pattern>/pub/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>NavomaticApplication</servlet-name>
		<url-pattern>/navomatic/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>LinkomaticApplication</servlet-name>
		<url-pattern>/linkomatic/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>LibraryApplication</servlet-name>
		<url-pattern>/library/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ImagesApplication</servlet-name>
		<url-pattern>/images/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>HelloWorldApplication</servlet-name>
		<url-pattern>/helloworld/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>FormInputApplication</servlet-name>
		<url-pattern>/forminput/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>GuestBookApplication</servlet-name>
		<url-pattern>/guestbook/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>UploadApplication</servlet-name>
		<url-pattern>/upload/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>DisplaytagApplication</servlet-name>
		<url-pattern>/displaytag/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>EncodingsApplication</servlet-name>
		<url-pattern>/encodings/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>TemplateApplication</servlet-name>
		<url-pattern>/template/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ComponentReferenceApplication</servlet-name>
		<url-pattern>/compref/*</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
	<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>
