<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
      PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
      "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <display-name>Wicket Examples</display-name>

    <servlet>
        <servlet-name>GuestBookApplication</servlet-name>
        <servlet-class>guestbook.GuestBookApplication</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>GuestBook2Application</servlet-name>
        <servlet-class>guestbook2.GuestBook2Application</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>HelloWorldApplication</servlet-name>
        <servlet-class>helloworld.HelloWorldApplication</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>FileBrowserApplication</servlet-name>
        <servlet-class>filebrowser.FileBrowserApplication</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>ImagesApplication</servlet-name>
        <servlet-class>images.ImagesApplication</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>LibraryApplication</servlet-name>
        <servlet-class>library.LibraryApplication</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>LinkomaticApplication</servlet-name>
        <servlet-class>linkomatic.LinkomaticApplication</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>NavomaticApplication</servlet-name>
        <servlet-class>navomatic.NavomaticApplication</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>PubApplication</servlet-name>
        <servlet-class>pub.PubApplication</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>SignInApplication</servlet-name>
        <servlet-class>signin.SignInApplication</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>


    <servlet>
        <servlet-name>SignIn2Application</servlet-name>
        <servlet-class>signin2.SignIn2Application</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>SignInApplication</servlet-name>
        <url-pattern>/signin/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SignIn2Application</servlet-name>
        <url-pattern>/signin2/*</url-pattern>
    </servlet-mapping>
	 
    <servlet-mapping>
        <servlet-name>PubApplication</servlet-name>
        <url-pattern>/pub/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>NavomaticApplication</servlet-name>
        <url-pattern>/navomatic/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LinkomaticApplication</servlet-name>
        <url-pattern>/linkomatic/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LibraryApplication</servlet-name>
        <url-pattern>/library/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ImagesApplication</servlet-name>
        <url-pattern>/images/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>HelloWorldApplication</servlet-name>
        <url-pattern>/helloworld/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GuestBook2Application</servlet-name>
        <url-pattern>/guestbook2/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>GuestBookApplication</servlet-name>
        <url-pattern>/guestbook/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FileBrowserApplication</servlet-name>
        <url-pattern>/filebrowser/*</url-pattern>
    </servlet-mapping>

</web-app>
